[2020-05-12 15:44] ebma commented on #686
Could you be a little more specific to what exactly is not working?
If you only have trouble running/building the electron build try adding
[code]
to the scripts in `package.json`.
This will resolve the node-module-version conflict.

If you actually got the app running is the ledger device not recognised or what exactly is the problem? Just trying to understand because I can't test it myself.

[2020-05-12 16:07] andywer commented on #686
It's multiple issues, actually. One is the building in CI due to `libusb` – would probably need to customize a docker image. Another one is the Ledger SDK transport driver with USD events crashing the process. The transport without USB events doesn't crash, but doesn't seem to recognize the device, possibly because of the `node-hid` vs node.js version mismatch.

I haven't tried `electron-builder i

[2020-05-12 16:22] ebma commented on #686
Hmm I see.
Having a call about this sounds good.

[2020-05-13 13:11] andywer opened #1083 "Extend data model of accounts: cosignerOf"

[2020-05-13 13:11] andywer opened #1084 "Implement "join shared account""

[2020-05-13 13:16] andywer opened #1085 "Read and use SEP-19 multi-sig data entry"
Use it to connect to the right multi-signature service for this account.

[2020-05-14 09:27] andywer commented on #1081
Hey @KStasi!

Sorry for the late reply. We have been super busy fixing the issue and preparing the upcoming release. The issue has been fixed by #1087 – it's due to the upgrade to the protocol version 13 of the testnet.

We are aiming for a release early next week, but maybe we can already share a build here before that.

/cc @DiyanDoychev

[2020-05-14 09:27] #1081 closed

[2020-05-19 14:41] ebma opened #1088 "Caches for network subscriptions not updated properly"
The caches of stellar-subscriptions are not updated when all observers are unsubscribed.
This causes issues in a way that the cache is missing values (is not up-to-date) because updates propagated by the networker are not being received/processed on the master thread.

[2020-05-20 12:56] ddombrowsky commented on #564
I would like to 2nd this.  It might also provide a way for the UI to display ALL orders for the account, not just the first 10 returned.

[2020-05-20 14:33] andywer commented on #564
Completely agree. Updated the issue description.

Cannot give an estimate on when this story might be worked on, though.

[2020-05-25 08:26] ebma commented on #1088
Closing this for now since #1089 fixed this issue (although it's more or less just bypassing it by not unsubscribing the data subscriptions when components unmount).

[2020-05-25 08:26] #1088 closed

[2020-05-25 08:45] andywer opened #1090 "Deposit / withdrawal issues"
A critical issue was brought to our attention:
If you try to deposit or withdraw with anchorusd.com (and potentially other anchors, too), you get stuck on the second transfer view where it shows the fee, since the button to proceed will always be disabled.

Then we stumbled upon another, smaller issue: The default value of the deposit/withdrawal asset selector tends to be an asset that the user do

[2020-05-25 09:17] #1090 closed

[2020-05-25 14:04] ebma commented on #891
I tested it with some orders and didn't see any wrong quantities. Maybe it was kind of related to #1092.
So I guess we can close this again.

[2020-05-25 14:04] #891 closed

[2020-05-25 19:17] tourBermuda opened #1093 "0.25.1 OSX, open orders trasaction, is not updating"
@andywer  just started using 0.25.0 OSX, desktop client (updated from 0.23). The open orders transactions section is not  updating.  I am using MacOS Sierra, could that be the problem? This was working in 0.23

[2020-05-25 19:30] tourBermuda commented on #1093
False alarm it seems to be working now. This may be an intermittent   problem. I'll update tomorrow and close  this if it's fine.

[2020-05-26 07:43] andywer commented on #1093
Hey @tourBermuda!

I got an email notification where you stated that it was a false alarm. Did you delete the comment again – is it confirmed now?

We tested those live updates quite a bit before we released v0.25.0. Kind of disappointing to see that you are still encountering issues 😕

We will definitely check that out! Not sure if we can still fit it in the v0.25.1 release, though.

[2020-05-26 12:20] andywer commented on #1093
PS: Is there any way to reliably reproduce the issue or does it happen sporadically only?

[2020-05-26 13:33] ebma commented on #1069
Seems like this was related to elements of the second view having focus which caused the web-view to bring them into view.
We should keep this in mind when using the carousel component elsewhere.

[2020-05-26 19:54] tourBermuda commented on #1093
@andywer I'm do multiple small transactions and trades per week. Give me a few days and I can give your a definitive answer.  if there is also an issue on the  recent transaction section I'll let you know. The recent transaction seems to be working today. However I've sent two trades  since 2020-05-26 19:31:18 UTC, they are still open at 19:53:47 and I still don't see anything in the client.

[2020-05-28 17:48] tourBermuda commented on #1093
Recent transaction is working ok.  However This problem with the open order updating, has been present for about a month. I admit It's most likely something to do with my OSX version. However since this a great entry level wallet, I think it should support a good range of OS versions.

[2020-06-03 13:49] VonSub opened #1096 "Save Adresses to Adressbook"
Would be great to have an addressbook in Solar.
It's the only thing I'm missing for my admin and recurring transfers.

[2020-06-08 14:21] #1070 closed

[2020-06-21 07:59] andywer commented on #686
@ebma Let's try https://www.npmjs.com/package/@ledgerhq/hw-transport-webauthn, too. Should be supported by Electron.

[2020-06-22 08:25] #1077 closed

[2020-06-22 08:55] ebma commented on #686
Necessary steps for bluetooth integration:

- Request ledger accounts in batches of 5 accounts until whole batch is empty
- Add ‘Import hardware wallet account’ option to ‘Add Account’ where the user will import the next empty (and not yet shown) hardware wallet account
- Show onboarding dialog until user dismisses it or a connection to a hardware wallet is established
    - Should show info for p

[2020-06-22 13:47] andywer opened #1101 "Withdrawal seems broken"
Running into an invalid network passphrase error on SEP-10 auth.

[2020-06-23 02:00] tempofr opened #1102 "Add visibility toggle to password fields"
The app asks for passwords in many places and if you have caps lock on you can't see what you are typing. a small eye next to the password fields would allow users to see their passwords and verify why they are wrong

[2020-06-23 08:20] andywer commented on #1102
Thanks for bringing this up. I guess that makes sense. Cannot give an ETA on that feature request yet, though.

Does anyone else have a strong opinion in favor or against that feature?

[2020-06-23 12:24] #1069 closed

[2020-06-23 20:28] rmahdav opened #1103 "How can the risk of feature toggle technical debt be reduced?"
Dear developers,

I, Rezvan Mahdavi Hezaveh (rmahdav@ncsu.edu), and my colleague, Nirav Ajmeri (najmeri@ncsu.edu), software engineering researchers from North Carolina State University are conducting an academic study of feature toggles and technical debt.

In our investigations on GitHub repositories, we noticed that you are using feature toggles in your repository. For instance, in this [file](h

[2020-06-24 08:33] #1101 closed

[2020-06-24 15:52] #703 closed

[2020-06-24 15:52] #1040 closed

[2020-07-02 09:52] superclarkk opened #1106 "How to install to Linux?"
There are no instructions for installing to linux / Ubuntu, and I don't recognise any of the files extensions in [releases](https://github.com/satoshipay/solar/releases/tag/v0.25.2).  Could someone explain?

[2020-07-06 08:02] andywer opened #1107 "Crash on fee bump transaction in transaction history"
As reported by Tyler from SDF:

![at](https://user-images.githubusercontent.com/1842462/86570094-b0ff0700-bf6f-11ea-8e34-0229efe176f3.png)

We need to use the new `TransactionBuilder.fromXDR()` instead of `new Transaction()` to rehydrate transactions.

[2020-07-06 14:08] ebma commented on #1106
Hey @superclarkk, thanks for pointing this out!
We actually had some trouble with creating the linux builds and they were missing in the current release but we added them now so please have a look again. You can choose between `.AppImage`, `.deb`, `.rpm` or `.snap`.
Let me know if you need further assistance.

[2020-07-07 13:40] superclarkk commented on #1106
On Ubuntu 18.04, the .AppImage file works well. Thank you.

[2020-07-07 13:41] #1106 closed

[2020-07-08 08:40] andywer opened #1110 "Electron exception when pressing update notification twice"
As seen on Windows:
"I hit update in the notification and after a while, because nothing happened, again by pressing update next to the settings button above." (as reported by Alex)

It's of course also sub-optimal that the user cannot see the update progress.

![image](https://user-images.githubusercontent.com/1842462/86897071-3b2da380-c107-11ea-9ce9-a61ae2d837ab.png)

[2020-07-13 13:15] ebma commented on #1110
There is not much we can do about the update progress issue because the build-in electron `autoUpdater` does not offer subscribing to the download progress. The `electron-builder` one does but IIRC we had issues with that (and it had some security issues) so I would opt for not switching back to it.

And in general the user should not be able to press the update button twice as long as he does not

[2020-07-17 14:50] movitto commented on #92
:+1: given this is the only open source desktop XLM wallet listed [here](https://www.stellar.org/ecosystem/projects?tab=wallets#directory), tests would be very useful.

[2020-07-20 07:47] andywer commented on #92
I agree, yet unfortunately I have to say that there are no resources available it this point. As it's open source, you can of course always contribute some tests :)

[2020-07-20 11:48] #1107 closed

[2020-07-21 09:13] #1110 closed

[2020-07-22 15:53] swedebugia commented on #741
The Fdroid packages ask for this: (It would help if they could provide the generated Android project.) See https://gitlab.com/fdroid/rfp/-/issues/1240
Could you provide that?

[2020-07-24 23:03] tourBermuda opened #1117 "SatoshiPay Horizon Sever 504 error"
@andywer  The  SatoshiPay Horizon Sever is not responding. Is there anyway to temporary switch the Horizon server that the desktop client looks for. Maybe I can change a config file on OSX?

[2020-07-26 21:58] tourBermuda commented on #1117
@andywer is there anyway to put SolarWallet into offline mode. I need to extract some wallet keys that were not backed up to a text file. Of course the App is still failing with a 504 error on open. So the UI is loading. I'm on OSX desktop  and I do have access the app files.

[2020-07-27 08:14] andywer commented on #1117
Hey @tourBermuda. We have been facing some technical issues with our horizon servers in the last few days, but we are on it.

At first I didn't understand your issue, but I tried myself and I see your point: Unfortunately, if the account does not load, then the account settings icon button is not shown either… This is something we can fix, though. Let me open another issue for that.

[2020-07-27 08:18] andywer opened #1118 "Allow user to export secret key even if account cannot be fetched"
Cannot export secret key if account does not load since the account settings icon button is not shown. Make the account settings accessible even if offline.

<img width="912" alt="Bildschirmfoto 2020-07-27 um 10 14 29" src="https://user-images.githubusercontent.com/1842462/88519255-1c2d7d80-cff2-11ea-93e1-24bafc031366.png">

[2020-07-27 08:18] andywer commented on #1117
See #1118.

[2020-07-27 08:18] #1117 closed

[2020-07-27 08:23] andywer opened #1119 "Try fetching account metadata as horizon health check"
Right now we are only checking if the index route of the horizon server can be reached. That worked well so far, but the recent issues we had with horizon only surface when accessing the database, so we need to query some dynamic data.

Fetch some well-known account's (some account that is very unlikely to disappear, possibly friendbot on testnet) data as a health check. Any 200 response and possi

[2020-07-28 08:17] andywer commented on #1103
I took the survey last week 😉

[2020-07-28 08:17] #1103 closed

[2020-07-28 09:10] #1119 closed

[2020-08-04 09:40] ebma commented on #741
Hey @swedebugia, while we could upload the files of the android project we decided not to do so because all of them can be generated automatically and it does not add much benefit besides bloating the repository.

[2020-08-04 09:52] ebma commented on #890
Closing this because #1115 should prevent crashes due to unparseable transaction and #1087 updated the stellar sdk.

[2020-08-04 09:52] #890 closed

[2020-08-04 09:58] bjorn commented on #741
@ebma The reason the Android project is requested appears to be because Pierre Rudloff is having a hard time setting up a working build recipe due to the amount of NPM dependencies making the build take very long (see https://gitlab.com/fdroid/rfp/-/issues/1240#note_377921872). I'm not sure why it would help to provide the generated Android project, but if you can't do that is there maybe some oth

[2020-08-04 11:56] andywer commented on #741
Hey guys. Uploading the APK on GitHub, too, wasn't our first choice. I can, however, see the need and the difficulty setting up the build pipeline.

I would be ok to upload the APK as part of the GitHub release if that works for you. As @ebma already said, putting the APK in the repository would be a questionable way to go, but if us attaching the APK to the GitHub release would do the trick, then

[2020-08-04 12:23] ebma commented on #741
I guess that would not suffice because IIRC the idea of F Droid is to build and sign apks from scratch to ensure integrity (?)

[2020-08-04 12:47] andywer commented on #741
We would upload a *signed* APK, so you can be sure it's been built by us. To be fair, maybe they don't trust us either 😅

[2020-08-04 15:16] bjorn commented on #741
@andywer Nobody asked for the apk files since indeed F-Droid builds those themselves to avoid the need to trust the developers: somebody installing an F-Droid package can be sure it was built from the published source. The request was whether the Android project files could be added, which would apparently help with setting up the build recipe.

@swedebugia I guess it's worth asking the person wor

[2020-08-04 16:09] IzzySoft commented on #741
… yet :wink: I see they'd be well in the limit to be taken into [my repo](https://apt.izzysoft.de/fdroid) – at least until an F-Droid build can be established. My updater could pick the APK when attached to a release.

That's correct, I'd discourage that (APKs then would be part of every fork/clone, which is a waste of space & bandwidth). Attaching to releases OTOH would not affect that, and hence

[2020-08-05 12:10] #1060 closed

[2020-08-05 12:11] #997 closed

[2020-08-11 13:12] ebma commented on #1042
Closing this because it should be fixed by #1052.

[2020-08-11 13:12] #1042 closed

[2020-08-11 13:30] ebma commented on #741
@IzzySoft we attached the APK to the latest release ([v.0.25.3](https://github.com/satoshipay/solar/releases/tag/v0.25.3)) and will continue doing so for future releases. I hope this helps for now.

[2020-08-11 14:28] #564 closed

[2020-08-11 14:28] #1093 closed

[2020-08-11 14:35] #1102 closed

[2020-08-12 07:29] bjorn opened #1134 "APK requires Android SDK version 21"
On my Jolla phone it will not install, because the APK requires Android SDK version 21, whereas my phone only supports up to 19.

Since most Android software manages to work on my phone, are you sure you need the more recent version? Just hoping this may be an oversight.

[2020-08-12 07:49] andywer commented on #1134
Hey @bjorn. I am not the Android-savvy one here (rather @ebma), but I just checked and the latest Android SDK version is 29. So it seems we already support 8 (!) legacy major versions.

I don't know all the details out of the back of my head, but that seems perfectly reasonable. Time to upgrade 😉

[2020-08-12 07:49] #1134 closed

[2020-08-12 07:53] bjorn commented on #1134
@andywer Hmm, upgrading means buying a new device, which I don't plan to do for several more years since it is working fine.

I really hope somebody will check whether there's actually some critical API needed between version 21 and 19 that you couldn't lower the required SDK version a bit. :-(

[2020-08-12 08:00] andywer commented on #1134
Sorry, but those old SDK versions have definitely reached their end of life.

[2020-08-12 08:13] bjorn commented on #1134
Based on choosing Android 21 vs. 19 as the minimum you're causing 4% of Android users to not be able to install your app:

![image](https://user-images.githubusercontent.com/531764/89991230-d0323800-dc83-11ea-97d1-18a59c39029a.png)
([source](https://www.xda-developers.com/android-version-distribution-statistics-android-studio/))

Android 4.4 has definitely not reached "end of life" if there's stil

[2020-08-12 08:31] ebma commented on #1134
Hey @bjorn, the main reason why our apk requires Android API level 21 is because the secure storage plugin we use requires Android API level 21 or above (see [here](https://github.com/crypho/cordova-plugin-secure-storage#android)). Although it states that one could use an older version to support lower API levels we decided not to do so because of the overall low benefit and security consideration

[2020-08-12 08:42] andywer commented on #1134
Thanks, @ebma!
To make it short: We don't have the resources to keep our app compatible with several-years-old legacy APIs.

If your phone is older than four or five years, then incompatibilities have to be expected. If it's not that old, just update. If it's not that old yet and you cannot update anymore, you might wanna sue your manufacturer 😉

Btw, after that amount of time you most likely don'

[2020-08-12 08:59] bjorn commented on #1134
@ebma Thank you so much for the in-depth explanation! It makes it a lot easier to accept that my phone won't be able to run Solar.

@andywer While my phone is compatible with Android up to version 4.4, it actually runs SailfishOS and does still receive security updates. Of course I'm very careful about installing software in general anyway. To store cryptocurrency I also rely on the TREZOR hardwar

[2020-08-12 12:43] andywer commented on #1134
No worries, @bjorn.

I got a bit worked up, too – Android tends to do that with me 😅

[2020-08-14 18:08] CubeBank opened #1135 "Cannot read property 'available' of undefined AND Cannot read property 'name' of undefined"
Hello guys, I'm trying to run the installation, from the wallet, with the following commands.
after compilation, when I try to create or import an account the errors below appear.
Any idea? How do I solve this?
My O.S
((Linux Manjaro 5.4.44-1-MANJARO # 1 SMP PREEMPT Wed Jun 3 14:48:07 UTC 2020 x86_64 GNU / Linux))

  installation of the solar wallet.

git clone https://github.com/satoshipay/solar.

[2020-08-16 21:45] IzzySoft commented on #741
Thanks! I've just added it to my repo (apologies for the delay, but I was traveling) – it should show up with the next sync in about 21h [here](https://apt.izzysoft.de/fdroid/index/apk/io.solarwallet).

[2020-08-18 08:52] ebma commented on #1135
Hey @CubeBank, you are encountering these issues because when you run `npm run dev:android` the application expects to be run in an android environment. Since the cordova plugins are not available in your web browser these errors are thrown.
So you have to options:
1. If you want to run the development build in your web browser navigate to the `web/` directory and run `npm run dev` (see [here](htt

[2020-08-18 08:52] #1135 closed

[2020-08-18 10:25] andywer opened #1137 "Mnemonic keyphrases"
Support importing and exporting mnemonic keyphrases instead of secret keys. Secret key import/export should still be possible, but mnemonic phrases should become the default.

Show a small text button "Use secret key" below the textfield or add a key icon button to the end of the textfield if there is not enough space. We should also show a short explanatory text telling the user what those twelve

[2020-08-18 14:02] #1118 closed

[2020-08-18 14:45] #1009 closed

[2020-09-01 10:20] ebma opened #1139 "Send payment view crashes when stellar.expert server is unavailable"
The application crashes when trying to access the "Send payment" view if the stellar.expert account directory cannot be fetched.
TODO: Catch the error and show an error toast notification instead.

[2020-09-01 13:23] andywer opened #1140 "Allow importing pubnet/testnet account with same key"
We currently prevent importing an account if we already have an account with the same key. We should only do so for matching accounts on the same network.

Labelling this as a bug, as Torsten got quite confused by the current behavior and found it highly unintuitive (even sent me a screenshot with the form error and one with his empty pubnet account list). Will likely affect other users the same w

[2020-09-01 13:24] andywer commented on #1140
@ebma I distantly recall a quick discussion we had about something like that some while ago. Don't know why we had it or what the outcome was, though.

[2020-09-01 13:44] ebma commented on #1140
Hmm yes I think I do remember but maybe the discussion was more related to #1010 because it is a quite similar issue (the part about duplicate account names).
But right now I don't see issues with doing so.

[2020-09-08 12:43] #1140 closed

[2020-09-14 08:25] ebma commented on #1137
How it's done in similar apps:
LOBSTR vault:
- only mnemonic imports / no secret key import
- create or import account with 12 word mnemonic phrase
- looking at mnemonic phrase possible in app settings
- mnemonic phrase works with `stellar-hd-wallet` package

LOBSTR wallet:
- import of secret key or mnemonic phrase
- creating new account will show 12 word mnemonic phrase for backup
- export of mne

[2020-09-14 09:07] ebma commented on #1137
Thoughts from our (private) discussion:
- Hard to establish consistent concept since it's not possible to obtain a mnemonic phrase from a secret key with BIP-39.
- We could only support importing accounts with a mnemonic phrase but exporting accounts with mnemonic phrases would be impossible in most cases since we only have the secret key and not the mnemonic phrase that was used to derive that ke

[2020-09-14 13:12] ebma commented on #872
Hey @customerknowyou, is your offer still available?
We have everything in place for translations for quite a while now and we already have some contributions for Chinese language (zh) but our contributor is not responding anymore so maybe you could take over at this point.
You can see the progress in [this](https://github.com/satoshipay/solar/pull/1031) pull request and if you want me to I can gi

[2020-09-15 10:56] ebma commented on #864
Seems like this is not the case anymore, maybe because we changed the keyboard plugin some time ago.

[2020-09-15 10:56] #864 closed

[2020-09-15 11:01] ebma commented on #488
We are using `react-hook-form` for form error handling now.

[2020-09-15 11:01] #488 closed

[2020-09-25 12:19] tyvdh opened #1148 "Mobile network toggle is confusing"
Should probably be a pill button or a dropdown rather than a toggle button as now it looks like a label indicating the network you're currently on.

So I'm no the testnet right?
![IMG_3098](https://user-images.githubusercontent.com/4383610/94266225-d3b61180-ff07-11ea-9b61-775bde51de55.PNG)

Wrong!
![IMG_3099](https://user-images.githubusercontent.com/4383610/94266243-dc0e4c80-ff07-11ea-8251-d54238

[2020-10-05 09:30] ebma commented on #1137
Although the details of the export remain unclear for now, we should still add the import feature to increase convenience for our users.

[2020-10-28 15:14] andywer opened #1156 "Make compatible with latest SEP-10 spec version"
SEP-10 has just [recently been updated](stellar/stellar-protocol#740) and so have the SEP-10-related helper functions in the stellar-sdk: [see here](https://github.com/stellar/js-stellar-sdk/releases/tag/v6.2.0).

The main gotcha is that we're using our own [custom package for SEP-10](@satoshipay/stellar-sep-10).

## To Do

- [ ] Check whether we still need our own package
- [ ] If so, update it
-

[2020-11-02 09:59] #1000 closed

[2020-11-02 13:46] ebma commented on #1156
I had a look at it and as far as i can tell the only two things that are useful here are [buildChallengeTx](https://stellar.github.io/js-stellar-sdk/Utils.html#.buildChallengeTx) and [readChallengeTx](https://stellar.github.io/js-stellar-sdk/Utils.html#.readChallengeTx).
`buildChallengeTx()` can be used to replace the `fetchWebAuthChallenge()` of `satoshipay/stellar-sep-10` without any additional

[2020-11-02 14:53] #1148 closed

[2020-11-02 15:19] andywer commented on #1156
@ebma One important objection: You cannot replace `fetchWebAuthChallenge()` with `buildChallengeTx()` as the latter will create a random new challenge. Each challenge tx contains a random nonce and the client of course needs to sign the challenge that the server wants them to sign.

[2020-11-02 17:02] ebma commented on #1156
I see. Seems like what we could do is replace the [`assertChallengeOK()`](https://github.com/satoshipay/stellar-sep-10/blob/667fa0c95070752963060ebb2f860b4a775a8b6e/src/authentication.ts#L5) helper function with `readChallengeTx()` since they both validate the challenge transaction (see source code of `readChallengeTx` [here](https://stellar.github.io/js-stellar-sdk/libdocs_utils.js.html))

But th

[2020-11-03 08:34] #274 closed

[2020-11-04 16:01] ebma opened #1160 "Withdrawal from `anchorusd.com` not possible"
Withdrawing USD with `USD` token issued by `anchorusd.com` is not possible. Might be due to wrong endpoint URLs or the missing interactive onboarding with the provided iframe URL. More info [here](https://dashboard.anchorusd.com/docs/api#withdrawals).

Follow up of #1051.

[2020-11-04 16:01] #1051 closed

[2020-11-05 04:02] #866 closed

[2020-11-11 12:26] ebma opened #1165 "Add guidelines for contributing translations to README"
The README should contain instructions on how to contribute translations to the project.

Describe:
- [x] The i18n folder structure
- [x] How to add new translation files
- [x] What to change and what not (e.g. don't change content of curly braces)
- [x] How to test the translations

[2020-11-23 20:22] ddombrowsky opened #1170 "Cannot read property 'toLowerCase' of undefined"
[code]

When loading the asset list of an account on the testnet.  I don't know how to get the stack trace.

I then need to close the app and reload it to get it working again.  Prevents me from adding an asset to an account.

This is on TESTNET.

Running version `v0.25.3`
on
`Linux phydeaux3 4.15.0-36-generic #39-Ubuntu SMP Mon Sep 24 16:19:09 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`

[2020-11-24 07:53] andrenarchy opened #1171 "Co-signing requests only shown if account exists"
Pending co-signing requests only seem to be shown on accounts that exists on the chain. However, an account is not necessary to sign and submit.

[2020-11-24 16:52] andywer commented on #1170
Thanks for reporting, @ddombrowsky!

Seems like this issue has already been fixed by #1155. Sorry to say it hasn't been rolled out yet, but we are going to release very soon!

@ebma Let's target a release next week.

[2020-11-24 16:52] #1170 closed

[2020-11-24 17:13] ddombrowsky commented on #1170
tyvm

[2020-11-25 00:30] brunoparga opened #1172 "Cannot install on Debian-derived OS"
I am trying to install on PureOS, a Debian 10-derived OS. Here's what I have tried:

- downloading the .deb and installing it with dpkg (using aptitude to fix the missing dependencies): the app shows up on my list of installed apps, but when I click to run it, nothing at all happens.
- downloading, chmod+x'ing and trying to run the AppImage: I get the following error message.
[code]
Trying to run

[2020-11-25 08:49] #441 closed

[2020-11-25 08:51] #487 closed

[2020-11-25 15:07] andywer opened #1174 "Asset management only shows "10" open orders badge"
Quick fix: Make it "10+" if it's too tricky to show the actual number of open DEX orders.

[2020-11-29 22:45] andywer commented on #1172
Hey Bruno.

I'm sorry, but we cannot provide support for different Linux operating systems – normally those binaries work quite reliably.

As Solar is just an Electron app, like Slack, VS Code, … I suppose you will experience similar issues with those apps as well. On the upside there is a good chance you will find a solution on Stack Overflow.

Closing for now. If someone else knows more about th

[2020-11-29 22:45] #1172 closed

[2020-11-30 11:20] brunoparga commented on #1172
VSCode works just fine.

[2020-11-30 11:59] ebma opened #1175 "Loading indicator hides list elements when adding new asset"
When adding a new asset to an account the loading indicator that appears when scrolling through the list covers the whole screen which results in a bad user experience.

<img src="https://user-images.githubusercontent.com/6690623/100607304-11ba2200-330b-11eb-9519-ca65f0fce93d.gif" alt="Kapture 2020-11-30 at 12 23 20" width="400px">

[2020-11-30 12:26] andywer commented on #1171
Hey André! True, but this is still the old multi-signature implementation which, unfortunately, does require that.

This quirk will go away once #1114 lands which is currently still blocked by externalities. Not for much longer, though, I hope.

[2020-11-30 12:28] andywer commented on #1171
Status: Wait for new multi-sig implementation that is pretty much done already 😉

[2020-11-30 12:28] #1171 closed

[2020-11-30 15:40] ebma opened #1176 "Improve items of language selector"
The language selector currently only shows abbreviations of languages.
It would be better to show the whole language (i.e. `English`, `Italiano`, `Auto` instead of `en`, `it` and `auto`).

Nice to have: Instead of showing `Auto` as a separate item include it in the language that will be selected by default (i.e. `English (auto)` if english is the language that will be selected automatically).

[2020-11-30 19:28] AlessandroM92 opened #1177 "Import of secret key does not work"
Hi folks,

in version 0.25.3 I cannot import my secret key. When I press the "Import Account" button nothing happens.

BR
Alessandro

[2020-12-02 08:45] ebma commented on #1177
Hi @AlessandroM92, which platform are you using? I'm not able to reproduce this, is there any error shown above or below the textfields?

[2020-12-02 09:24] AlessandroM92 commented on #1177
I use the wallet on Windows 10. There are no errors shown.

[2020-12-02 12:36] ebma commented on #1177
Please try opening the developer console by pressing `F12` or `CTRL+SHIFT+i` and see if clicking on the "Import Account" button will print an error message to the console. (Make sure the 'console' tab is selected after you opened the developer tools window).

[2020-12-03 14:40] AlessandroM92 commented on #1177
I actually get the following error:

[code]

[code]

`

[2020-12-04 20:16] ngault opened #1180 "bug: handleConnectionState prevents restoration of online from offline"
In `connection.ts`, the `if` conditions on lines 28 and 31 are the same.  Presumably, "app:pause" on line 31 should be "app:resume".

[code]

https://github.com/satoshipay/solar/blob/b59bc02e15f12b442f553be10bd6b1aea06a54f4/src/Workers/lib/connection.ts#L25

[2020-12-05 03:49] ddombrowsky commented on #1085
Does this mean that no multi-sig account actions will currently work with solar wallet?

I've noticed that the window just pops up "waiting for other signatures" and then disappears, with no action or error.

[2020-12-07 08:40] andywer commented on #1085
@ddombrowsky Well, it's difficult. The old implementation was not super user-friendly and a bit brittle to begin with. It should still work, though, but there might be issues right now. That it closes with "waiting for other signatures" sounds like expected behavior, though, unless all necessary parties have signed already.

Our current plan of action is to rollout the new multi-sig implementation

[2020-12-07 09:47] andywer commented on #1180
Hey Nick. Great catch!

@ebma Can you quickly prepare a PR?

[2020-12-07 10:01] ebma commented on #1177
Okay now I was able to reproduce your issue by exchanging one letter in a valid secret key with a random one.
Did you maybe mix up the letters `O` with the number `0` at some point? Also the key is case sensitive so you should only use capital letters.

[2020-12-07 10:19] #1180 closed

[2020-12-07 14:33] #1175 closed

[2020-12-09 09:35] ebma opened #1186 "Withdrawal should fail early if not enough token available"
The withdrawal process should not let the user proceed if he does not have the minimal amount of tokens specified by the respective anchor.

The user has 9 SRT but 10 SRT are required so the "Proceed" button should be disabled and an error message shown.
<img width="884" alt="Screenshot 2020-12-09 at 10 30 01" src="https://user-images.githubusercontent.com/6690623/101611239-90007d80-3a09-11eb-9fb4

[2020-12-09 09:36] #1176 closed

[2020-12-10 10:23] #1186 closed

[2020-12-10 18:58] AlessandroM92 commented on #1177
I'm quite sure my secrect key should be ok.
One thing to mention: my key is a few years old. Can that have anything to do with the problem? I created it with another wallet.

[2020-12-14 09:20] ebma commented on #1177
Hmm keys should not become invalid over time. It could be that the other wallet is offering you something for backup/ restoring that is only derived from your secret key but I guess that's rather unlikely.
So just to be clear: `SAV76USXIJOBMEQXPANUOQM6F5LIOTLPDIDVRJBFFE2MDJXG24TAPUU7` is an example of a valid secret key, starts with the letter `S` and has 56 characters. If your secret key is simil

[2020-12-20 15:50] efarid opened #1192 "App crash when deleting account name"
Steps to reproduce:
From home screen > Add account > Create Account > (Delete account name)
or
From existing account > Account settings > (Delete account name)

Error Message:
Oops, something went wrong...
undefined is not an object (evaluating 'w.accountCreation.name')

OS version: iOS 14.3
App version: 0.25.3

[2020-12-21 06:02] AlessandroM92 commented on #1177
Thanks for the advice. I will give it another try.

[2020-12-21 10:06] ebma commented on #1192
Thank you very much for your detailed bug report! It really helped fixing the issue.

[2020-12-21 11:22] ebma opened #1194 "Fetch error when accessing lumen details page"
An error is thrown when navigating to the lumen details page which makes the app crash when trying to return to the previous screen. While trying to reproduce on testnet I always encountered a `"Failed to fetch"` error originating from [useTickerAssets()](https://github.com/satoshipay/solar/blob/f9bf1f628545a5ab580ad913ef7af9e97308f8a0/src/Generic/hooks/stellar-ecosystem.ts#L12).
[code]

<img src=

[2020-12-21 14:09] efarid commented on #1192
You're welcome. Thanks a lot for the fix 👍

[2021-01-06 09:18] ebma opened #1196 "Multi-signature transaction fails on testnet"
An error occurs when trying to send a transaction to the multi-signature endpoint. (Only happens on account with multiple signers and required signatures >1).

Seems like the multi-sig endpoint is having some issues.
<img width="613" alt="Screenshot 2021-01-06 at 09 47 30" src="https://user-images.githubusercontent.com/6690623/103748690-caf3d200-5004-11eb-9cdd-d67c46ffdbb1.png">

[2021-01-07 10:24] #1192 closed

[2021-01-07 10:28] andywer opened #1197 "Transactions fail when network load is high"
Let's ditch the "smart fee" selection process and go right for the 99th percentile accepted fee, up to a maximum amount.
Might make sense to take the maximum of that 99th percentile accepted fee and the 50th percentile of maximum fees to better cope with varying loads.

[2021-01-07 12:37] #1197 closed

[2021-01-07 13:40] #1174 closed

[2021-01-09 16:34] andywer commented on #1177
Closing. We will release a new version in the next few days.

Feel free to re-open if you still encounter issues after the update.

[2021-01-09 16:34] #1177 closed

[2021-01-09 16:38] andywer opened #1200 "Paginate open trading orders"
We are currently only showing up to 10 open SDEX trading orders. This can be problematic, especially since you are able to create orders, but cannot cancel the older ones anymore.

[2021-01-11 09:04] ebma commented on #1200
The 'Load More' button (#1131) is not enough?

[2021-01-11 09:22] andywer commented on #1200
@ebma Ahhhh. Sorry, man. Of course :)

This can be closed then!

[2021-01-11 09:22] #1200 closed

[2021-01-11 10:11] ebma commented on #1194
Seems like this issue does not exist anymore. Maybe SDF changed something that broke the ticker service and fixed it again.

[2021-01-11 10:11] #1194 closed

[2021-01-11 15:03] andywer commented on #1194
Great! (That it's already fixed)

Maybe they just suffered from a temporary service outage. If the service is down, it cannot send the CORS headers either, oftentimes leading to a CORS error cascading the actual issue.

[2021-01-18 13:30] ddombrowsky commented on #1196
I get "Multi-signature connection issue" every time I load the app now, both on testnet and mainnet.

[2021-01-21 16:33] andywer commented on #1196
@ddombrowsky Should be fixed now. We updated the multi-sig service and fixed its deployment yesterday 👍

[2021-01-21 16:33] #1196 closed

[2021-02-02 13:46] andywer opened #1208 "Add "retry" button to submission error view"
Allow easily retrying a failed submission.

PS: Set human-readable, translated error message on submission timeout error.

[2021-02-02 17:09] yuriescl opened #1209 "The SUID sandbox helper binary was found, but is not configured correctly"
Failed to start app image for the first time as non-root user:
[code]

[2021-02-03 10:15] ebma opened #1210 "Setting memo-type with info of known accounts not working"
Stellar-expert introduced a default limit of 10 and a max limit of 200 for their accounts directory request (see [here](https://stellar.expert/openapi.html#section/Intro)). We'd now need to paginate to fetch all known accounts.
But they also changed the available 'tags'. Now there is only a 'memo-required' tag instead of something like `accepts":{"memo":"MEMO_ID"}}` so we have to adjust the logic

[2021-02-03 18:46] moranbw commented on #1209
You can workaround this by running the AppImage with **--no-sandbox**

If this has any security implications, however, I'd be interested to know.

[2021-02-13 04:27] Craddock7 opened #1212 "Sun powered"
I really love the sun even when it's 100% truly

[2021-02-15 08:37] andywer commented on #1212
Hey @Craddock7. How do you mean?

[2021-02-15 15:11] ebma opened #1215 "Trading error unclear if automatic price calculation fails"
When trying to create a new order with the price set to 0.00 a "Couldn't find approximation" error is shown which does not really help the user identify the problem. This often happens when Solar is not able to automatically calculate a price for the asset pair.

Expected:
Highlight and expand the 'price' input field when clicking on "Place order" with a price of 0.00 and show an improved error me

[2021-02-18 11:23] #1208 closed

[2021-02-25 03:09] #1212 closed

[2021-02-25 03:10] Craddock7 commented on #1212
Buy getting solar panels on your house it could save ton of money

[2021-02-25 03:17] Craddock7 commented on #1215
Yes every app needs a way to liquidate on the same site

[2021-03-26 06:48] moranbw commented on #1209
Doing some dig into Electron...it seems like this is a known issue of sorts. Not sure that 4755 will solve this.

It seems like --no-sandbox is being suggested as the workaround/hack to get this to work. In some places (like snap) this has even been embedded into the ./AppRun. To me this seems drastic -- first sentence in electron docs on sandbox: "One of the key security features of Chromium is t

[2021-03-27 14:15] Akbar30Bill opened #1220 "Ask the Friendbot Error on Mac app"
When i want to get lumens in test net with mac app it gives me error
`cannot read property 'href' of undefined`

[2021-03-29 08:57] ebma opened #1221 ""Place order" button not indicating progress"
The "Place order" button is neither disabled nor showing progress with a spinner. This should be adjusted so that it behaves like the other submit buttons of the application.

[2021-03-29 13:43] ebma commented on #1220
This issue was fixed by re-adding the friendbot entry to the horizon response.
#1222 is supposed to prevent this error in the future.

[2021-03-29 13:55] #1220 closed

[2021-03-29 13:59] ebma opened #1223 "Wrong spendable balance for accounts with too many open orders"
If an account has more than 10 open orders, the calculated spendable balance is wrong because since not more than 10 open orders are fetched, the app assumes that there are only 10 and reduces the balance by 5.0.
If the user hits the "Load more" button below the list of open orders and fetches all orders this way, the spendable balance is correct.

In order to fix this, we might need to fetch all

[2021-03-29 16:26] #1221 closed

[2021-03-31 09:48] ebma opened #1227 "Make all 'submit'-buttons match behavior"
Not all submit buttons behave similarly. Every 'submit'-button should show a progress indicator and be disabled while loading to prevent accidentally sending the same request multiple times.

[2021-03-31 14:37] ebma commented on #1209
I honestly don't know what else I can do to work around this issue. The way I changed it in the pull request is based on what they do [here](https://github.com/electron-userland/electron-installer-common/blob/master/src/sandboxhelper.js) and while it gets rid of the original error message, it obviously just delays the problem.

You could also try `sysctl kernel.unprivileged_userns_clone=1` as poin

[2021-03-31 16:59] #1223 closed

[2021-04-07 14:04] #1165 closed

[2021-04-21 16:29] ddombrowsky opened #1233 "almost every command on testnet results in timeout"
Thus far, I have been unable to execute a single transaction doing anything on testnet.

Most actions will result in an error and require a reload with F5.   Thus far I have been unable to send any test amounts to any accounts, or post any orders, or anything that I need to use Solar Wallet for.

Again, this is all on TESTNET.  Is this wallet expected to run on testnet, or not?

This is version `0

[2021-04-23 08:14] andywer commented on #1233
Strange. I tried it multiple times yesterday and today, also on version 0.26.1, and it worked for me every time 🤷‍♂️

Can you try again? Our horizon servers currently redirect to the Stellar Foundation ones, maybe they were experiencing overly high load while you were trying?

[2021-04-24 05:58] YellowViggen opened #1234 "Web ver."
Any chance for web version? I need to use Solar on my ChromeOS :/

[2021-04-25 00:35] ddombrowsky commented on #1233
It still exhibits the same behavior.  I have tried connecting to the test network multiple times over the last few weeks, and I see the same timeouts.

The thing is, it does not do this on the public network.  Yes, there are more than a few timeout issues, but they don't usually prevent the use of the application.  Right now, I load the app, switch the toggle to "testnet", and 9 times out of 10 ev

[2021-04-25 00:59] ddombrowsky opened #1235 "Feature: add account by public key"
Right now I cannot to add an account by public key only.  This is useful in two main cases that I can think of:

* view only accounts
* accounts where you have signing power, but no secret key

The 2nd case is most useful for me.

As a work-around, is there a way to add this account manually to a config file somewhere?

[2021-04-26 10:53] #1227 closed

[2021-04-26 14:03] ebma commented on #1234
We do not ship a web version due to security concerns. But I think you can install and use android apps on ChromeOS so you should be able to download Solar from the Google Play Store right?

[2021-04-26 14:45] ebma commented on #1233
Hey @ddombrowsky, I would suspect that most of your requests for testnet accounts take longer than 10 seconds to resolve and that's why you see this error. To check if this is the case you can open the developer tools in Solar with "Ctrl+Shift+i" and head over to the "Network" tab. Then reload Solar with "Ctrl+r" and see if the status of the requests for your account data switch from `(pending)` t

[2021-04-26 18:04] andywer commented on #1235
Hey David!

I agree, but the first case doesn't have much priority, I'm afraid. For the multi-sig use case I have got good news for you!

Just today we merged the new multi-signature implementation that we will release in the next few days.
You will have to delete your co-signing accounts and re-import your their keys as dedicated co-signing key pairs, but you will then

* not need to own any XLM

[2021-04-26 18:05] andywer commented on #1235
I am gonna close this as the important use case is already being addressed as we speak 😉

[2021-04-26 18:05] #1235 closed

[2021-04-27 11:47] andywer commented on #1233
Yeah, it creates one stream per account, but there is hardly a way around…

We do want to know when something about your account changes, so we can re-render updated balances, etc. We could also have one stream for everything only, streaming every transaction on the network and then filter on the client side. This will then likely result in a lot of traffic that is mostly completely worthless to y

[2021-04-27 16:20] ddombrowsky commented on #1233
@andywer
I'm fine with requiring a push of F5 to get updated balances.

Is there no way to turn off these streams without hacking the code directly?

[2021-04-28 08:00] andywer commented on #1233
@ddombrowsky No, there is no such option. Feel free to change the title and description of the issue into something like "Add option to disable live updates" or create a new issue if you think that would be valuable for you.

It's just tricky regarding the user experience.

[2021-04-28 09:10] hellojoechip opened #1237 "Merge or Delete Account"
"Are you sure you want to delete account" in the dialog should make it clear: are we talking about actually 'deleting' the Stellar account? Or just removing it from the config of the Solar Wallet app?

[2021-04-28 10:00] ebma commented on #1233
The yellow warning messages for the streams are normal and it's still working as expected. I think what would help here is a mechanism to adjust the fetch queue timeout since you say that you don't see any timeouts in your network log.
I want to point out that the implementation will automatically throw an error ("Request timed out") once a request takes longer than 10 seconds BUT it can still go

[2021-04-28 12:56] ebma commented on #1237
Hey @hellojoechip do you think this would already make it clear enough? Or do you think we should add a more detailed explanation?

<img width="797" alt="Screenshot 2021-04-28 at 14 47 16" src="https://user-images.githubusercontent.com/6690623/116407099-ae88d900-a831-11eb-8774-fab036187d25.png">

[2021-04-28 18:13] #1215 closed

[2021-04-30 01:37] hellojoechip commented on #1237
looks good!

[2021-04-30 07:17] hellojoechip commented on #1237
In Keybase, the confirmation dialog will say "This removes [account] from Keybase, but you can still use it elsewhere if you save the private key". Cancel/Yes, remove

[2021-05-03 07:51] andywer commented on #1237
@ebma Can you please open a PR? With your proposed change and maybe add a Keybase-ish "You can still use the account if you save the secret key" note.

[2021-05-03 10:25] #1237 closed

[2021-05-08 03:09] marcoachury opened #1243 "Problems updating"
I have problems updating

![imagen](https://user-images.githubusercontent.com/67766219/117523973-d0e0cc00-af80-11eb-9ecc-b77f4d4638cc.png)

[2021-05-08 17:18] #1243 closed

[2021-05-09 14:47] andywer opened #1245 "No spinner on "confirm" or "retry" button"
Just noticed that neither the "confirm" button (tx confirmation dialog), nor the "retry" button show a spinner. This is pretty bad as it currently takes the horizon several seconds to respond…

Make sure that after showing the spinner, the user is not able to click trigger the button's action again while the spinner is shown. Double-check that the spinner disappears and the button becomes clickabl

[2021-05-20 03:40] marcoachury opened #1251 "Problem entering price at: Trade / Sell / Advanced"
I noted this on 0.27.0

Fail to validate keyboard entry on Trade/Sell/Advanced...  May be related with spanish locale, not clear if decimal separator is "." or ","

![imagen](https://user-images.githubusercontent.com/67766219/118915236-396d6880-b8f2-11eb-92be-23570594ea41.png)

![imagen](https://user-images.githubusercontent.com/67766219/118915424-8bae8980-b8f2-11eb-8d14-4cc5ca10e209.png)

[2021-05-26 10:39] ebma commented on #1251
Hello @marcoachury, are you encountering an error that says something like "Invalid price" above the price input field? If so, your issue is related to #1248 and will be fixed in the next release.

[2021-05-27 04:17] marcoachury commented on #1251
No, I didn't proceed, I will not risk to lost money on an invalid operation.  I simply note strange prices are accepted by the app.

[2021-05-27 10:18] #1245 closed

[2021-06-01 04:23] metheis opened #1254 "multisignature not working with Lobster Vault"
Hello, I enabled multisignature collective signing in my Solar Wallet with two required: the wallet itself and a lobster vault I have setup. When I set this up, the Lobster Vault app showed a notification it had been added as a multisigner, great! However, whenever I try to make a transaction, I do not get a notification in Lobster Vault to sign the transaction. Solar Wallet shows it is waiting fo

[2021-06-03 16:56] #1251 closed

[2021-06-11 19:13] metheis commented on #1254
Thank you, that was it. I didn't realize I needed to add the bystander public key for LOBSTR.

[2021-06-11 19:13] #1254 closed

[2021-06-24 00:09] satoshi0x opened #1258 "Testnet is not working"
Every transaction times out. I cannot access the testnet or friend bot.

[2021-06-29 14:06] andywer commented on #1258
Sorry for the late response! We are preparing a workaround that should get rolled out within about one day.

[2021-06-29 14:26] #1258 closed

[2021-07-20 11:58] ebma opened #1265 "Entering secret key in "Join Account" should not be possible"
It is possible to enter a secret key into the "Multi-Signature Account" text field when using the "Join Account" feature.
This will however result in network problems because Solar is doing network requests for accounts using a secret key.
The user is also not able to resolve this issue except for wiping the whole application data because clicking on this invalid account will only show the network

[2021-07-28 22:22] ZellarForum opened #1266 "Character limit in the MEMO field?"
Only 28 characters are available for input. However, some asset transactions (such as yXLM withdrawal in this particular case) require a memo consisting of more characters. This was a request to input a memo of 64 characters long, but it was not possible to enter due to the character limit. How could one proceed in this case with an incomplete memo for the transaction? Thank you.

[2021-08-05 14:39] ebma commented on #1266
Hello @ZellarForum, sorry for the late reply. Solar restricts you to 28 characters because Stellar puts this limitation on text memos, see [here](https://developers.stellar.org/docs/glossary/transactions/#memo).
I honestly don't know how you are supposed to enter a 64 character memo, it just doesn't work. Maybe you can reach out to the asset issuer that requires such long memos and ask them what e

[2021-08-10 09:26] ZellarForum commented on #1266
Thank you for answering. I was unaware of such limitations on the network, so I apologize for asking about an unrelated to the wallet issue. I'll do as you advised.

[2021-08-10 09:26] #1266 closed

[2021-08-11 10:32] andywer opened #1268 "Add IDK token to shortlist"
Token: <https://stellar.expert/explorer/public/account/GAVDGVOARGIMZA47POPHGPC2FRDE7I7ZF3NGNNIGDPGEZRMTELFAD6DN>

[2021-08-18 00:17] marcoachury opened #1270 "How to claim a "Claimable Balance" on solar wallet."
I use stellar as my main wallet on stellar network.

I, as many people received a "Claimable Balance" from the AQUA airdrop.
https://developers.stellar.org/docs/glossary/claimable-balance/
https://medium.com/aquarius-aqua/announcing-the-initial-aqua-airdrop-6bac308bcc54

The Solar Wallet shows that I received such claimable balance, but dont offer any way to proceed.
Is possible to claim such toke

[2021-08-20 04:49] marcoachury commented on #1270
Is needed to include on solar wallet a procedure to accept "Claimable balance".  Appear that such will be the standar way to do tokens Airdrops.

[2021-08-23 16:08] marcoachury commented on #1270
Is not a complex problem to solve.  Just add a button to do couple af calls to horizont.
1. Get 'id' of the available endpoints.
2. Create the claim operation.

Solar wallet already has user's private keys.  The harder point is to have confidence of the user :-)

[2021-09-06 08:40] ebma opened #1272 "Shifted screen in account creation form (Android)"
A user was unable to create a new account because the screens were shifted and he could not fill in the forms.
This happened on a Huawei P20 Pro running Android 10.

![Screenshot_20210810_161053_io solarwallet](https://user-images.githubusercontent.com/6690623/132187049-bc143533-08e9-47dc-bf42-ab69318f2e5a.jpg)
![Screenshot_20210810_161037_io solarwallet](https://user-images.githubusercontent.com/

[2021-09-15 08:00] prayagd opened #1273 "Support for different memo types"
As a Solar user, I should be able to select the type of memo that I want to include with my tx. More about memo types can be seen [here](https://developers.stellar.org/docs/glossary/transactions/#memo).

[2021-09-15 08:10] ebma commented on #1273
I already worked on this in #1211. Solar had an auto-detect mechanism i.e. it would check if your destination is a known exchange or so and set the type accordingly but it broke some time ago.

[2021-09-16 17:30] marcoachury opened #1274 "How to remove trust chain on actives with very little balance."
When an active have very low balance (near zero) is impossible to trade it because the decimal rounding.  Also is impossible to remove trust chain.  Is a problem from the wallet or from the stellar protocol?  The solution I think is to create a "carity" account that receive any remaining balance from people that want to close accounts.

![imagen](https://user-images.githubusercontent.com/67766219/

[2021-09-20 06:11] amitmisratas opened #1275 "net::ERR_FILE_NOT_FOUND (filr:///android_assert/www/index.prod-android.html )"
getting this error after installing the build .apk in my hand set:-

Application Error
net::ERR_FILE_NOT_FOUND (filr:///android_assert/www/index.prod-android.html )

i am working on windows 10

[2021-09-20 06:16] suryanshsangwan commented on #1275
I am working on it

[2021-09-20 06:20] amitmisratas commented on #1275
![Captureaa](https://user-images.githubusercontent.com/61015251/133962922-3a32701a-9081-4c55-b71f-1f15295c12e1.PNG)

As you see from above, all building well in dist folder, but not able to figure out wat is missing.

Please let me know if you need any more info from my side.

[2021-09-20 07:18] amitmisratas commented on #1275
![Capturebb](https://user-images.githubusercontent.com/61015251/133967677-f39af8f1-f41a-44b1-9fd4-17e23f33c8d0.PNG)

And i forgot to mention, the index.html in not copied to asserts/www folder

May be resolving this will make things work.

[2021-09-20 08:49] suryanshsangwan commented on #1275
I am getting error on running "npm run dev:android" command

[2021-09-20 08:50] suryanshsangwan commented on #1275
![image](https://user-images.githubusercontent.com/32640058/133977098-972aef2b-0ef7-4561-a4c0-58ff928904c1.png)

[2021-09-21 10:00] ebma commented on #1275
Hey there. At least for the issue of @suryanshsangwan I can tell that the problem is that the `rm` command does not exist on windows. That's why we use the `rimraf` dependency in the root project (see [here](https://github.com/satoshipay/solar/blob/094dd4654717a112e83d421c8dd8ab656a493d8e/package.json#L20)) but it seems like we forgot to also use it in the scripts of the `cordova/package.json`.

S

[2021-09-21 12:04] suryanshsangwan commented on #1275
I solved the issue by changing package.json

"install:android": "rimraf plugins && .\\scripts\\create-config-from-template.sh prod android && cordova platform add android"

[2021-09-21 12:05] suryanshsangwan commented on #1275
Now i am getting this error

![image](https://user-images.githubusercontent.com/32640058/134167362-e6abe67a-433c-4185-8260-1d04c696bab5.png)

[2021-09-21 12:06] suryanshsangwan commented on #1275
I have also changed line 74 but no luck

![image](https://user-images.githubusercontent.com/32640058/134167485-cc2a4f0b-094f-4d50-879c-372ca2a40f3b.png)

[2021-09-22 08:10] ebma commented on #1275
The new error is because specifying environment variables with `PLATFORM=android ....` does not work on windows. One would have to use `set PLATFORM=android` or another tool like [cross-env](https://github.com/kentcdodds/cross-env).
@suryanshsangwan please try using cross-env, i.e. follow the steps on its GitHub page to install and use it for the npm scripts you need and let me know if it works af

[2021-09-22 08:20] ebma commented on #1274
Hey @marcoachury, you can always get rid of the assets you have by sending the remaining balance to the asset issuer. This way you don't have to have another account that holds the assets you don't want anymore.
If you want to remove the BRAVE assets from your account just send the `0.0000041` BRAVE to `GDREF4TAC3RFYVLHEV24CXN2VBGCEEP74BZOC3T4Q4XJ6SXJFMDPNTJL`, i.e. the issuer of the BRAVE token w

[2021-09-22 08:20] #1274 closed

[2021-09-22 11:25] AnsarMadiniBaba commented on #1275
getting this error after installing the build .apk in my hand set:-

Application Error
net::ERR_FILE_NOT_FOUND (filr:///android_assert/www/index.prod-android.html )

i am working on windows 10

[2021-09-22 17:27] D4vid-A commented on #1254
@metheis Hello, I currently have the same problem as you, how did you get out of this ?
Cannot add the GA2T6GR7VXXXBETTERSAFETHANSORRYXXXPROTECTEDBYLOBSTRVAULT key because I can't sign any transaction... Did you find a way to get the transaction XDR from Solar Wallet ?

[2021-10-04 08:44] ebma opened #1276 "Operation thresholds not correctly taken into account"
Stellar accounts that have a setup of two signers with a weight of 1 and operation thresholds of 0/1/2 (low/medium/high security) are not able to send payments within Solar. `Payment` operations are medium-security operations and should be possible with only 1 signature but Solar is sending those transactions to the multi-signature service instead.

[2021-10-06 09:41] ebma opened #1278 "App crashes when localStorage quota is exceeded"
When searching for assets in Solar many entries for the home_domain of asset issuers are added to the cache in localStorage. Apparently sometimes these take up so much space that the quota of the localStorage is exceeded. This error should be caught to prevent the application from crashing.

I tried reproducing this issue on desktop (macOS) but apparently it is pretty hard to fill the localStorage

[2021-10-19 11:50] adhisimon opened #1284 "Blank screen starting on Fedora 35 using rpm 0.27.2"
Instalation package: rpm from latest release 0.27.2
System: Up-to-date Fedora 35 Beta

Behavior:
Only show blue windows without any content

Command line dump:
[code]

[2021-11-02 08:43] ebma commented on #1284
Hey there. Have you tried running Solar with the `.AppImage`, `.snap` or `.deb` package? I don't think that the error message about the dev tools is the reason for the blank screen.

[2021-11-03 07:47] adhisimon commented on #1284
Same blank window on running it with AppImage.

[code]

[2021-11-04 05:01] marcoachury opened #1287 "How to identify similar tokens"
As there are many diffent tokens from different issuers that represent the same active.

e.g. There are many BTC tokens from many different exchanges and issuers, the same may happen with any popular active.

On the trading dialogs There is a confuse situation.

![imagen](https://user-images.githubusercontent.com/67766219/140257181-c908c3e5-f5e7-45b5-9384-cc60a4d7a8cb.png)

Check in the image, is

[2021-11-08 00:35] fishcharlie opened #1288 "Native Apple Silicon Support"
Any chance we can get a build with native Apple Silicon support so that Rosetta 2 isn't required to run on Apple Silicon computers?

[2021-11-15 21:31] jmar42 opened #1289 "Add support for swapping with AMMs"
It would be nice to have a swap button so that conversions can be done faster at the market instead of limit orders.

[2021-11-16 08:11] lig commented on #1284
Confirming the same on Fedora 35 with 0.28 using AppImage

[2021-11-18 08:32] ebma commented on #1289
Hello @jmar42, do you mean a swap that would use one of the recently introduced automated market makers? Or how would you expect this swap to work?

[2021-11-18 08:47] ebma commented on #1288
Apparently, this boils down to [updating some electron dependencies](https://www.electronjs.org/blog/apple-silicon). So there is a good chance we will have native apple silicon support in the future, but the version change for these dependencies is so big that we have to be really careful with breaking changes introduced in the latest versions.

[2021-11-18 08:52] ebma commented on #1287
Hey @marcoachury, thanks for pointing out this issue and your proposal. We will think about a way to make similar tokens differentiable.

[2021-11-18 08:57] ebma commented on #1284
Maybe updating the electron dependencies can fix this issue but this requires thorough testing so this might take some time.

[2021-11-18 16:00] fishcharlie commented on #1288
Thanks for the reply @ebma. I believe that is all correct. Hopefully this can be a priority at some point soon. Someday Rosetta 2 won't be supported anymore. So at some point this will become a necessity. The earlier we can get support to avoid being pushed into a situation where it doesn't work at all would be great.

[2021-11-18 16:18] jmar42 commented on #1289
Yes, a button instant swap Buy/Sell market order.

[2021-11-18 16:21] jmar42 opened #1290 "Stuck Order Update"
I've noticed sell orders getting filled and the position is not updating.  The position has the old position and takes a while to update.  Not sure if it's a bug or slow update connecting to the node.

[2021-11-22 14:11] AlanKleymeyer commented on #1275
I'm getting this error as well running on Mac

[2021-11-28 18:36] albertobissacco opened #1291 "integrate WalletConnect"
Would be very useful the integration with [WalletConnect](https://walletconnect.com/) like Lobstr wallet did

[2021-12-09 20:40] RobertWilson2019 opened #1292 "Integrate Path Payments"
It would be good to be able to send XLMs that are received as USDCs for example.

[2021-12-09 20:42] RobertWilson2019 opened #1293 "Add a swap function in the wallet"
To be able to swap assets via the liquidity pools directly from the wallet.

[2022-01-30 14:22] petegordon opened #1295 "Add Asset search results to small on iOS"
On iOS I went to add Asset, difficult to navigate the small visible area with results. Shown in video…

https://user-images.githubusercontent.com/1993032/151703597-3f37c755-10bf-412b-81d0-ffae6bb71db9.MP4

[2022-01-30 14:29] petegordon commented on #1295
Looks like it is related to keyboard and goes away when you navigate to a detail of an asset and then navigate back.

https://user-images.githubusercontent.com/1993032/151703914-1ff28678-66b2-4ec2-8c41-58d8d308fe20.MP4

[2022-02-03 12:38] RobertWilson2019 opened #1296 "Allow claimable balances"
Be able to claim balances directly from the wallet.

[2022-03-31 23:10] krudder64 commented on #703
How do I completely remove all signers from vault and expert

[2022-04-03 07:32] andrejcremoznik commented on #1284
Same thing using `Solar-Wallet-0.28.1.AppImage` on Arch.

[2022-04-14 14:23] ebma commented on #703
Hi @krudder64, if you have questions regarding your multi-signature setup with LOBSTR vault please consider reaching out to either us (hello@solarwallet.io) or LOBSTR via mail. This issue is not the right place for that.

[2022-05-28 03:40] nash81 opened #1314 "Cannot resolve dependency '../shared/ipc'"
Hi,
While trying to run npm run dev  I get the following errors. Any help is highly appreciated.

/media/ubuntu/SSD/stellar/solar-0.28.1/src/SplashScreen/splash-screen.ts:1:25: Cannot resolve dependency '../shared/ipc' at '/media/ubuntu/SSD/stellar/solar-0.28.1/src/shared/ipc'
    at Resolver.resolve (/media/ubuntu/SSD/stellar/solar-0.28.1/node_modules/parcel-bundler/src/Resolver.js:71:17)
    at

[2022-05-30 11:03] TheSHEEEP commented on #1284
This is a sandbox-related bug in recent versions of Chromium. Or rather in its usage by various applications (e.g. Teams on Linux and RStudio have the same issue).

To circumvent this issue, run the application like this (same works for other apps with this issue):
`solarwallet --no-sandbox`

Of course, it would be nice if the solarwallet devs themselves fixed it, but in the meantime...

[2022-06-03 16:27] ebma commented on #1284
I bumped the electron version and published some new build artifacts under the [current release (0.28.1)](https://github.com/satoshipay/solar/releases/tag/v0.28.1). Can you download and try e.g. the .AppImage again and tell me if you still have issues?

[2022-06-03 16:31] ebma commented on #1314
Hey there. Have you tried if this also happens on a fresh clone of Solar? I noticed that when I fresh clone the repo, npm install the modules and `npm run dev` the electron window was closing automatically which is why I updated the dependency in #1316 so this should be fixed now. But it seems that your symlink to `./shared/ipc` is broken so maybe a fresh clone helps.

[2022-06-03 17:04] nash81 commented on #1314
Ok, let me try.
What version of Node do you recommend.
and I am building on windows could that be the reason behind symlink being broken

[2022-06-16 14:26] ebma commented on #1314
I'm using node version `v16.13.0` but I think older versions should also work. And yes that you are using windows could indeed be the reason for this. I assumed you were using Ubuntu because you mentioned that. Are you using the linux subsystem for windows? I found a [StackOverflow post](https://stackoverflow.com/a/59761201) that might be helpful for you, you could try the steps mentioned there to

[2022-11-20 07:48] cblp opened #1321 "Provide SEP-7 URI handler for transaction signing"
Please provide a means to sign arbitrary transaction and return it to a callback.
https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0007.md#operation-tx

[2022-11-20 09:30] AduchiMergen commented on #323
why not merged?